.astrologer-header{
  text-align: center;
  margin-bottom: 2.5rem;
    margin-top: -50px;
    
}
.title {
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {
  .astrologer-header {
    margin-top: 2.5rem !important;
  }
}